# Predict titanic survival using naive bayes

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [2]:
df=pd.read_csv('D:/Data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
target=df.Survived
inputs=df[['Survived','Pclass','Sex','Age','Fare']]
inputs

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [4]:
dummies=pd.get_dummies(inputs['Sex'])

In [5]:
inputs=pd.concat([inputs,dummies],axis='columns')

In [6]:
inputs=inputs.drop(['Sex'],axis='columns')

In [7]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [8]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [9]:
inputs=inputs.fillna(inputs.Age.mean())

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split(inputs,target,test_size=0.3)

In [11]:
len(inputs)

891

In [12]:
len(X_train)

623

In [13]:
len(X_test)

268

In [14]:
X_test[:10]

     Survived  Pclass        Age     Fare  female  male
649         1       3  23.000000   7.5500       1     0
128         1       3  29.699118  22.3583       1     0
158         0       3  29.699118   8.6625       0     1
486         1       1  35.000000  90.0000       1     0
457         1       1  29.699118  51.8625       1     0
883         0       2  28.000000  10.5000       0     1
782         0       1  29.000000  30.0000       0     1
106         1       3  21.000000   7.6500       1     0
59          0       3  11.000000  46.9000       0     1
109         1       3  29.699118  24.1500       1     0

In [15]:
model=GaussianNB()
model.fit(X_train,Y_train)

GaussianNB()

In [16]:
model.score(X_test,Y_test)

1.0

In [17]:
Y_test

649    1
128    1
158    0
486    1
457    1
      ..
190    1
684    0
771    0
483    1
755    1
Name: Survived, Length: 268, dtype: int64

In [18]:
model.predict(X_test[:10])

array([1, 1, 0, 1, 1, 0, 0, 1, 0, 1], dtype=int64)

In [19]:
model.predict_proba(X_test[:10])

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]])