# Sample problem of predicting home price in monroe, new jersey (USA)

In [24]:
import pandas as pd

In [28]:
df=pd.read_csv('D:/Data/homeprice.csv')
print(df.shape)
df.head()

(5, 4)

   area  bederoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

#Predict price  following data given

# >>3000 sqr ft area, 3 bedrooms, 40 year old

# >>2500 sqr ft area, 4 bedrooms, 5 year old

# 1 Data Preprocessing: Fill NA values with median value of a column

In [29]:
df.bederoom.median()

3.5

In [34]:
df.bederoom = df.bederoom.fillna(df.bederoom.median())
df

   area  bederoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [37]:
X=df.drop(['price'],axis=1)
y=df['price']

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
reg=LinearRegression()
reg.fit(X,y)

LinearRegression()

In [40]:
reg.intercept_

656046.539004866

In [41]:
reg.coef_

array([    198.47159002, -116583.73881651,  -14267.77585936])

# Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [43]:
reg.predict([[3000, 3, 40]])

C:\Users\Legend Sajan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([330999.05823262])

# y= m1*x1 + m2*x2 + m3*x3 + b

In [44]:
198.47159002*3000+-116583.73881651*3+-14267.77585936*40+656046.539004866

330999.05824093614

# Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

In [45]:
reg.predict([[2500, 4, 5]])

C:\Users\Legend Sajan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([614551.67948517])

In [46]:
198.47159002*2500+-116583.73881651*4+-14267.77585936*5+656046.539004866

614551.6794920261